:root {
  font-size: 12px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 10rem 1fr 10rem;
  grid-template-areas:
    "Header"
    "Main"
    "Footer";
}

/* ? Header Section */

.header {
  grid-area: Header;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  text-align: center;
}

.header-nav {
  height: 10rem;
}

.header-menu {
  display: flex;
  padding: 1rem;
  justify-content: center;
}

.header-menu li {
  display: inline-block;
}

.header-menu a {
  display: block;
  padding: 1rem;
  text-decoration: none;
}

.header-dropdown:hover .header-dropdown-menu {
  display: block;
}

.header-dropdown-menu {
  display: none;
  position: absolute;
  padding: 12px;
  z-index: 1;
}

.header-dropdown-menu li {
  display: block;
}

.header-dropdown-menu a {
  text-decoration: none;
}

/* ? Main Section */

.main {
  grid-area: Main;
}

/* ? Footer Section */

.footer {
  grid-area: Footer;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5rem;
  text-align: center;
}