.player-card {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.player-card h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.player-card p {
  font-size: 14px;
  margin-bottom: 10px;
}

.player-card button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.player-card button.details-btn {
  background-color: #007bff;
}

.player-card button.remove-btn {
  background-color: #dc3545;
}

.player-image {
  background-size: cover; /* Adjust as per your requirement */
  background-position: center; /* Adjust as per your requirement */
  height: 100px; /* Adjust as per your requirement */
  /* Other styles for the player image */
}